<link rel="stylesheet" href="./styles/style.css">

<h1 class="initial-welcome-title">Welcome to RakBuku, please add a new user to get started!</h1>

<form action="/new" method="post" class="user-input-form">
    <label for="newUserInput" id="new-user-label">New User Name:</label>
    <input type="text" name="newUserInput" id="newUserInput" required>

    <button type="submit" id="submit-add-user-btn">Add</button>
</form>