<link rel="stylesheet" href="./styles/style.css">

<form action="/new" method="post" class="user-input-form">
    <a href="javascript:history.back()" class="back-button">Back</a>
    <label for="newUserInput" id="new-user-label">New User Name:</label>
    <input type="text" name="newUserInput" id="newUserInput" required>

    <button type="submit" id="submit-add-user-btn">Add</button>
</form>