<link rel="stylesheet" href="./styles/summary.css">

<a href="javascript:history.back()" class="back-button">Back</a>

<div class="summary-page-container">

    <h1 class="summary-book-title">
        <%= book_data.book_title %>
    </h1>
    <h2 class="summary-book-author">
        <%= book_data.book_author %>
    </h2>
    
    <p class="summary-by">Summarized by: <%= currentUser.user_name %>
    </p>
    
    <p class="summary content">
        <%= summary %>
    </p>
</div>
